*{
    margin: 0;
    padding: 0;
  }
  
  .regimg{
    height: 100vh;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .imghere {
    height: 100vh;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .regbox{
    width: 497px;
    margin-left: auto;
    /* position: absolute; */
    margin-top: 125px;
  }
  
  .regbox p{
    margin-bottom: 50px;
  }


  .peradiv {
      margin-left: 100px;
      margin-top: 15px;
  }

  .sign {
    cursor: pointer;
    color: #EA6C00;
  }


  .eyepass{
    position: absolute;
    top: 17px;
    right: 75px;
    font-size: 24px;
  }
  .eyediv {
    position: relative;
  }

  .googlelog{
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .sideber {
    height: 97vh;
    background: #5F35F5;
    /* margin-top: 12px; */
    width: 120px;
    margin: 8px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 10px;
    /* margin-left: 10px; */
  }

  /*  =========== Icon css here  */

  .icons {
    margin-top: 45px;
  }
  .logpart {
    margin-top: 60px;
  }

  .icon{
    margin: 15px 0; 
    /* display: flex; */
    /* justify-content: center; */
    font-size: 45px;
    color: white;
  }

 

  .active .icon{
    color: #5F35F5;
 }



  .box {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    padding: 12px;
    overflow-y: scroll;
    height: 280px;
    margin-top: 10px;
  }






  /* ================== */




















  .List {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .List:last-child {
    border-bottom: 0;
  }
  .List img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
/* 
  .active .icon {
    color: #5F35F5;
  } */

  .active {
    position: relative;
    z-index: 2;
  }

  .active::after {
    width: 105px;
    height: 60px;
    position: absolute;
    background: white;
    top: -53px;
    left: -23px;
    content: "";
    z-index: -1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.active::before {
  width: 5px;
  height: 60px;
  position: absolute;
  background: #5F35F5;
  top: -53px;
  left: 77px;
  content: "";
  /* z-index: -1; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nosearch {
  margin-top: 70px;
  margin-left: 115px;
  color: red;
}

.searchInput {
  margin-top: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
  border: #fff;
  width: 330px;
  height: 30px;
  font-size: 20px;
}

.box-title {
  /* background: rgb(255, 255, 255); */
  /* position: relative; */
  margin-top: 5px;
  margin-left: 10px;
  /* width: 335px; */
}
.title-box {
  position: absolute;
  width: 345px;
  height: 40px;
  background-color: #ffffff;
  margin-right: 1;
  margin-top: 10px;
  border-top-left-radius: 5px;
  z-index: 1;
}



/* profile  */


.profilename {
  color: #fff;
}

.prevewBox {
  width: 100px;
  height: 100px; 
  overflow: hidden;
  border-radius: 50%;
  background: rgb(220, 220, 220);
}

.img-preview {
  width: 100px;
  height: 100px;

}




/* =================Custom Scroll bar ============ */






/* 
  
.eyecon{
  position: absolute;
  top: 21px;
  right: 242px;
} */